div#membership-payment-div input,select {
    width: 70%;
}

.pad-lef-15 {
    padding-left: 15px;
}

#fromDate, #toDate {
    width: 100% !important;
}

.padding-left-right-15{
    padding: 0 15px;
}

.print-section {
    display: none;
}

@media print {
    .print-section {
      display: block;
      padding: 20px;
      border: 1px solid #000000;
      /* font-size: 20px !important; */
    }
  
    #paymentFormTab, .sub-menu, .no-print {
      display: none;
    }
}

.print-logo {
    width: 125px;
}

.border-bottom {
    border-bottom: 1px solid #000000;
}

.pad-100 {
    padding: 100px;
}

.receipt-header div {
    display: inline-block;
}

.receipt-header div:first-child {
    float: left;
}

.receipt-header div:last-child {
    float: right;
}
