<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="./assets/images/logo.png" class="nav-logo">
      <a class="nav-logo-name" href="/home">TNACA</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/member-list">Membership</a></li>
      <li><a href="/locker-add-edit">Locker</a></li>
      <li><a href="/judge-cost-add-edit">Judge Cost</a></li>
      <li class="active"><a href="/advocate-donation-add">Advocate Donation</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="no-print sub-menu">
  <ul class="nav navbar-nav">
    <li><a href="/advocate-donation-add">Advocate Donation</a></li>
    <li class="active-white"><a href="/advocate-donation-list">Report</a></li>
  </ul>
</div>


<div id="advocateDonationReport" class="member-section height-100">
  <div class="row m-0">
    <div class="col-sm-8">
      <h3>
        Advocate Donation History
      </h3>
    </div>
    <div class="col-sm-4 text-right no-print">
      <a tooltip="Print Page" placement="bottom" (click)="printPage();"><span class="glyphicon glyphicon-print"
          style="font-size: 25px;margin-top: 20px;"></span></a>
    </div>
  </div>

  <div class="row m-0 padding-top-15" *ngIf="advDonationListRes.length > 0">
    <div class="col-sm-6">
      <h3>Record Count: {{totalRecords}}</h3>
    </div>
    <div class="col-sm-6 text-right">
      <h3>Total Amount: {{totalAmount}}</h3>
    </div>
  </div>


  <div class="row m-0">
    <div class="col-sm-12">
      <table id="member-locker-history" class="table table-bordered table-hover table-responsive" [mfData]="advDonationListRes"
      #mf="mfDataTable" [mfRowsOnPage]="50" *ngIf="advDonationListRes.length > 0">
      <thead>
        <tr>
          <th>
            <mfDefaultSorter by="bill_no">Receipt No</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="bill_date">Bill Date</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="adv_name">Advocate Name</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="amount">Amount</mfDefaultSorter>
          </th>
          <th class="no-print">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td>{{item.bill_no}}</td>
          <td>{{item.bill_date | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.adv_name}}</td>
          <td>{{item.amount}}</td>
          <td class="text-center no-print">
            <a tooltip="View" placement="bottom" (click)="printBill(item);"><span
                class="glyphicon glyphicon-print"></span></a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
    </div>
  </div>

  <div class="row m-0 padding-top-15 text-center" *ngIf="advDonationListRes.length == 0">
    <div class="col-sm-12">
        <img src="./assets/images/NoRecords.png"/>
      </div>
  </div>


</div>