.pad-top-10{
    padding-top: 10px;
}

input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

input:focus{
    outline : none;
}

@media print{
    table#member-report-datatable-2 tr td {
        padding: 40px;
        font-size: 20px;
    }
}